/* 
    Main Text Colour and Selection Colour: Black (#00000)
    Secondary Text and Reading Background Colour: White (#FFFFFF)
    Background Colour: Blue (#47A4EB)
    Accent and Interactive Feature Colour: Yellow(#F8CE25)
    Main Colour: Red (#CC231C)
*/

body {
    background-color: #47A4EB;
}

header{
    background-color: #FFFFFF;
    border-top-left-radius: 100px;
    border-top-right-radius: 43px;
    
/*     height: 75px;
    padding-top: 25px; */
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Clown4', "Comic Sans MS";
    color: #000000;
} 

h1{
    font-size: 50px;
}

h3{
    font-size:35px;
}

p{
    font-size:25px;
}

main{
    background-color: #FFFFFF;
    border-radius: 10px;
}

aside{
    background-color: #FFFFFF;
    border-radius: 10px;
}

footer{
    background-color: #CC231C;
}

header img{
    width: 100%;
    height: 75px;
    position:absolute;
    z-index:-1;
}



nav li{
    border: 2px solid #F8CE25;
    background-color: #CC231C;
    list-style-type: none;
}

nav li a{
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color: #000000;
}

.active{
    background-color: #F8CE25;
}


table{
    font-family: 'Clown4', "Comic Sans MS";
    border-collapse: collapse;
}

table td, table th{
    border: 2px solid #F0F0F0;
}

table tr:nth-child(even){
    background-color: #F2F2F2;
}

table tr:hover{
    background-color: #47A4EB;
}

table th{
    background-color: #CC231C;
    color: #FFFFFF;
}

.break{
    text-align: center;
}




.honk{
    position:relative;
}

.honk img{
    width: 100%;
    height: auto;
}

.honk button{
    /* background: transparent; */
    position: absolute;
    height: 10%;
    width: 15%;
    bottom: 48.5%;
    right: 41%;
    padding: 10px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}


.carclowns{
    z-index: -10;
    position: fixed;
    width: 10%;
    height: 10%;
}

/* .clown1{
    font-family: 'Clown1', "Comic Sans MS";
    font-size: 50px;
}

.clown2{
    font-family: 'Clown2', "Comic Sans MS";
    font-size: 50px;
}

.clown3{
    font-family: 'Clown3', "Comic Sans MS";
    font-size: 50px;
}

.clown4{
    font-family: 'Carnivalee', "Comic Sans MS";
    font-size: 50px;
}
 */
