/* 
    Main Text Colour and Selection Colour: Black (#00000)
    Secondary Text and Reading Background Colour: White (#FFFFFF)
    Background Colour: Blue (#47A4EB)
    Accent and Interactive Feature Colour: Yellow(#F8CE25)
    Main Colour: Red (#CC231C)
*/

body {
    background-color: #47A4EB;
    font-family: 'Clown4', "Comic Sans MS";
    margin: 10px;
}

header{
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 10px;
    
/*     height: 75px;
    padding-top: 25px; */
}

#logo{
    height:50px;
    width:50px;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
}

#title{
    display: inline;
}

h1, h2, h3, h4, h5, h6, p{
    color: #000000;
    margin:0px;
    margin-bottom: 10px;
} 

h1{
    font-size: 50px;
}

h3{
    font-size:35px;
}

p, fieldset{
    font-size:25px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

main{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding:10px;
    margin: 10px;
}

aside{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

footer{
    background-color: #CC231C;
    margin-top: 10px;
    margin: 10px;
}

nav{
    
    font-family: "Comic Sans MS";
    margin: 10px;
}

nav ul{
    position:relative;
    z-index: 10;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    overflow: hidden;
}

nav li{
    line-height: 10px;
    text-align: center;
    border: 2px solid #F8CE25;
    background-color: #CC231C;
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px;
}

nav li a{
    color: #FFFFFF;
    text-decoration: none;
}

nav li:hover{
    background-color: #000000;
}

.active{
    background-color: #F8CE25;
}


table{
    font-family: 'Clown4', "Comic Sans MS";
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
}

table td, table th{
    border: 2px solid #F0F0F0;
}

table tr:nth-child(even){
    background-color: #F2F2F2;
}

table tr:hover{
    background-color: #47A4EB;
}

table th{
    background-color: #CC231C;
    color: #FFFFFF;
}

.break{
    text-align: center;
}

#left-col{
    float:left;
    width: 50%;
    margin: 0px;
    padding: 10px;
}

#right-col{
    float:right;
    padding: 10px;
}

#contactus:after{
    content: "";
    display: table;
    clear: both;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.gallery-img{
    width:100%;
    height: 400px;
    filter:blur(10px);
}

#img-gallery{
    padding-top: 10px;
}

#img-gallery .row{
    margin-bottom: 10px;
}

#members{
    text-align: center;
}

#login{
    display:inline;
    margin-left:10%
    /* justify-content:space-between;
    align-items:center; */

}



#honk{
    z-index:1;
    position:relative;
}

#honk img{
    width:40%;
}

#honk button{
    /* background: transparent; */
    position: absolute;
    left:19%;
    top:35.5%;
    height:10%;
    width:6%;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}


#car{
    z-index:1;
    position: relative;
    margin-left:auto;
}

#car img{
    width:100%;
    height:auto;
}

#car button{
    background: transparent;
    position: absolute;
    height:100%;
    width:100%;
    border: none;
    cursor: pointer;
}

.carclowns{
    position: fixed;
    width: 10%;
    height: 10%;
}

/* .clown1{
    font-family: 'Clown1', "Comic Sans MS";
    font-size: 50px;
}

.clown2{
    font-family: 'Clown2', "Comic Sans MS";
    font-size: 50px;
}

.clown3{
    font-family: 'Clown3', "Comic Sans MS";
    font-size: 50px;
}

.clown4{
    font-family: 'Carnivalee', "Comic Sans MS";
    font-size: 50px;
}
 */
